/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* CUSTOM PROPS */
:root {
  --text-color: #000;
  --accent-color: #0095f3;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-color);
  background-color: rgb(2, 0, 36);
  background-image: linear-gradient(to right, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  padding: 11px 0;
  width: 100%;
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 13px;
  border-radius: 4px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
}

.mobile {
  display: none;

  .title {
    margin-top: 150px;
    text-align: center;
    color: #fff;
  }

  @media only screen and (max-width: 992px) {
    display: block;
  }
}
